<body background="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/map-web@2x.gif">

<% @stores.each do |store| %>
  <%= store.name %>
  <br>
    <%= approve_store_link(store) %>
    |
    <%= decline_store_link(store) %>
  <br>
  <div class="activate-link">
    <%= activate_or_deactivate_store_link(store) %>
  </div>
<% end %>
