<% @stores.each do |store| %>
  <%= store.name %>
  <br>
    <%= approve_store_link(store) %>
    |
    <%= decline_store_link(store) %>
  <br>
  <div class="activate-link">
    <%= activate_or_deactivate_store_link(store) %>
  </div>
<% end %>
