<footer class="page-footer grey darken-4" style="opacity:.8;">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text thin">Borrow My Carro</h5>
        <p class="grey-text text-lighten-4">Drive Your Dream</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text thin">Site Map</h5>
        <ul>
          <li><%= link_to "Cars", "/cars", class: "grey-text text-lighten-3" %></li>
          <li><%= link_to "List Your Car", "/cars", class: "grey-text text-lighten-3" %></li>
          <li><%= link_to "Locations", "/cars", class: "grey-text text-lighten-3" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="left-align">
        © 2015 Copyright BMC <br>
      </div>
    </div>
  </div>
</footer>
