<h1> <%= @user.username %>'s Profile </h1>

<h2>Available Cars</h2>

<% if @user.store_admin? %>
  <%= render partial: 'partials/show_available_cars', locals: {user: @user} %>
<% end %>

<% if @user.registered_user? %>
  <%= render partial: 'partials/user_order_history', locals: {user: @user} %>
<% end %>
