<script> $(document).ready(function(){
      $('.parallax').parallax();
    });
</script>

<div class="parallax-container">
  <div class="parallax"><%= image_tag "car.jpeg" %></div>
  <div class="row">
    <div class="col s12 m12 offset-2">

  <h1>___</h1>
  <h1 class="white-text thin center-align" style="vertical-align: middle;">Drive Your Dream Car for a Day</h1>
  <h6 class="white-text bold center-align" style="vertical-align: middle;">At BMC,
our goal is to give you the keys to unlock and drive your dream. Choose from a
wide </h6><h6 class="white-text bold center-align" style="vertical-align: middle;">selection of some of the best designed cars on the planet and arrive at your destination in style.</h6></div>
    </div>
<div class="center">
    <a class="waves-effect white-text waves-dark btn-large deep-orange lighten-2">Drive Your Dream</a>
</div>


<div class="valign-wrapper">
  <div class="valign">

  <div class="row">
    <div class="col s12 m4">
      <h1></h1>
    </div>
  </div>
  </div>
</div>
</div>

<body bgcolor="#37474f">
<div class="caption center-align">
  <h3></h3>

  <div class="col s2">
  <img class="resize circular z-depth-5" align="center" src="https://avatars2.githubusercontent.com/u/8861750?v=3&s=400" height=100 width=100>
  <br>
  <br>
  <h6 class="light bold white-text">"I'm obsessed with the service that BMC has to offer. Canada would never treat us so nicely! I bet this company is based in Texas.</h6><h6 class="light bold white-text"> The people from there are so incredible. I can't wait to use BMC again!"</h6>
  <h6 class="light bold white-text">-Torie, member since February 2014</h6>
</div>

  <br>
</div>
</body>

<div class="parallax-container">
  <div class="parallax"><%= image_tag "car2.jpeg" %></div>
</div>

<div class="caption center-align">
  <h3></h3>

  <div class="col s2">
  <img class="resize circular z-depth-5" align="center" src="https://avatars2.githubusercontent.com/u/10576647?v=3&s=400" height=100 width=100>
  <br>
  <br>
  <h6 class="light bold white-text">"I love the cars they have to offer. I've never gotten so much attention from girls before! I'm going to use Borrow My Carro EVERYDAY!"</h6>
  <h6 class="light bold white-text">-David, member since November 2015</h6>
</div>
<br>

<div class="parallax-container">
  <div class="parallax"><%= image_tag "car4.jpeg" %></div>
</div>

<div class="caption center-align">
  <h3></h3>

  <div class="col s2">
  <img class="resize circular z-depth-5" align="center" src="https://avatars1.githubusercontent.com/u/11325650?v=3&s=400" height=100 width=100>
  <br>
  <br>
  <h6 class="light bold white-text">"I love the car I'm borrowing from BMC so much that I don't think I'm going to return it! This service is incredible! But especially this homepage.</h6><h6 class="light bold white-text"> Quite frankly, whoever created it is a mad scientist and brilliant human...and you know this man!"</h6>
  <h6 class="light bold white-text">-Edgar, member since August 2015</h6>
</div>

  <br>
</div>
</body>

<div class="parallax-container">
  <div class="parallax"><%= image_tag "car5.jpeg" %></div>
</div>
