<script> $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
</script>
<h1 class="black-text light">Your Dream Car for a Day</h1>
<%= link_to "View Cars", cars_path, class:"btn large" %>

<div class="container">
  <h2>Testimonial:</h2>
  <p>
    "What a great site! I needed a car in a pinch and Borrow-my-Carro delivered." - Torie
  </p>
</div>
