h1 {
    text-align: center;
    color: white;
    font-weight: lighter ;
    font-weight: 200;
}

h2 {
    text-align: center;
    color: white;
    font-weight: lighter ;
    font-weight: 200;
}

h3 {
    text-align: center;
    color: white;
    font-weight: lighter ;
    font-weight: 200;

}

h4 {
    text-align: center;
    color: white;
    font-weight: lighter ;
    font-weight: 200;

}

td {
  text-align: center;
  color: white;
  font-weight: 300;
}

th {
  text-align: center;
  color: white;
  font-weight: lighter ;
}

tbody {
  text-align: center;
  color: white;
  font-weight: lighter ;

}

tr {
  font-weight: bold;
}
