h1 {
    text-align: center;
    color: white;
    font-weight: lighter ;
}

h2 {
    text-align: center;
    color: white;
    font-weight: lighter ;
}

h3 {
    text-align: center;
    color: white;
    font-weight: lighter ;

}

h4 {
    text-align: center;
    color: white;
    font-weight: lighter ;

}

td {
  text-align: center;
  color: white;
  font-weight: lighter ;
}

th {
  text-align: center;
  color: white;
  font-weight: lighter ;
}

tbody {
  text-align: center;
  color: white;
  font-weight: lighter ;

}
